<h1>Glory Glory Manchester United</h1>
    <div class="row">
        <div class="col s6 m6">
            <p>Nicknamed "The Red Devils", the club was founded as Newton Heath LYR Football Club in 1878, changed its name to Manchester United in 1902 and moved to its current stadium, 
            Old Trafford, in 1910. In 1998–99, the club became the first in the history of English football to achieve the continental European treble.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6">
             <h2>List of Managers:</h2> 
             <ul>
             <li>Sir Alex Ferguson</li>
             <li>David Moyes</li>
             <li>Louis Van Gaal</li>
             <li>Jose Mourinho</li>
             <li>Ole Gunnar Solskjaer</li>

             </ul>
        </div>




        
        <div class="col s6 m6">
             <h2>Squad 2018-2019</h2> 
             <ul>
             <h4>GOALKEEPERS</h4>
             <li>David De Gea</li>
             </ul>
             <ul>
             <h4>DEFENDERS</h4>
             <li>Antonio Valencia</li>
             <li>Matteo Darmian</li>
             <li>Diago Dalot</li>
             <li>Ashley Young</li>
             <li>Chris Smalling</li>
             <li>Phil Jones</li>
             <li>Eric Bailly</li>
             <li>Victor Lindelof</li>
             <li>Marcus Rojo</li>
             <li>Luke Shaw</li>
             </ul>

             <ul>
             <h4>MIDFIELDERS</h4>
             <li>Paul POgba</li>
             <li>Fred</li>
             <li>Andreas Pereira</li>
             <li>Scott Mctominay</li>
             <li>Juan Mata</li>
             <li>Ander Herrera</li>
             <li>Angel Gomes</li>
             <li></li>
             </ul>

             <ul>
             <h4>FORWARDS</h4>
             <li>Anthony Martial</li>
             <li>Jesse Lingard</li>
             <li>Marcus Rashford</li>
             <li>Alexis Sanchez</li>
             <li>Romelu Lukaku</li>
             <li></li>
             <li></li>
             </ul>
        </div>
    </div>